/* You can add global styles to this file, and also import other style files */
body{

    text-align: center;
	justify-content:center;
	align-items: center;
	
	font-family: 'Jost', sans-serif;
	background:  #0f0c29;
	background-image: url("240_F_448098401_kWPDm50r34I3fVEPCJFp29OM8R5ILodN.jpg");
	background-size: cover;
}